@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  overflow: hidden;
}

body {
  background: #262626;
  color: #fff;
  height: 100vh;
  text-align: center;
}

.main-ui {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.progress {
  border: 1px solid #c7c7c7;
  border-right: none;
  position: relative;
}

.progress .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.progress .boxes .box {
  height: 40px;
  border-right: 1px solid #c7c7c7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.progress .progress-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #9eff02;
  opacity: .57;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(26, 26, 26, 0.82);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal .modal-inner .end-message {
  font-size: 3rem;
}

.modal .modal-inner .close-modal {
  font-size: 2rem;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

.modal .modal-inner .close-modal:hover {
  background-color: #9eff02;
}

body.modal-is-open .modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body.modal-is-open .main-ui {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes showError {
  50% {
    color: red;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showError {
  50% {
    color: red;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animate-wrong {
  -webkit-animation: .45s showError;
          animation: .45s showError;
}

.problem {
  text-align: center;
  font-size: 5rem;
}

.field {
  width: 500px;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 2rem;
  border: none;
}

.answer {
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.answer:hover {
  background: #9eff02;
}

.form {
  margin-bottom: 30px;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
